# Uber Eats

In [1]:
%load_ext sql
%sql postgres://isdb@localhost/ubereats

'Connected: isdb@ubereats'

In [156]:
%%sql
drop view if exists q1;
create view q1 as 
SELECT uid, gender, age, q1a, q1b, q1c
FROM SurveyAnalytics;

drop view if exists q2;
create view q2 as 
SELECT uid, gender, age, q2a, q2b
FROM SurveyAnalytics;

drop view if exists q3;
create view q3 as 
SELECT uid, gender, age, q3a, q3b, q3c
FROM SurveyAnalytics;

drop view if exists q4;
create view q4 as 
SELECT uid, gender, age, q4a, q4b, q4c
FROM SurveyAnalytics;

drop view if exists q5;
create view q5 as 
SELECT uid, gender, age, q5a, q5b, q5c
FROM SurveyAnalytics;

drop view if exists q6;
create view q6 as 
SELECT uid, gender, age, q6a, q6b, q6c
FROM SurveyAnalytics;

drop view if exists q7;
create view q7 as 
SELECT uid, gender, age, q7a, q7b, q7c
FROM SurveyAnalytics;

drop view if exists q8;
create view q8 as 
SELECT uid, gender, age, q8a, q8b, q8c
FROM SurveyAnalytics;

drop view if exists q1M;
create view q1M as 
SELECT uid, gender, age, q1a, q1b, q1c
FROM SurveyAnalytics
WHERE gender = 'Female' and age = '18 – 30';


drop view if exists q2M;
create view q2M as 
SELECT uid, gender, age, q2a, q2b
FROM SurveyAnalytics
WHERE gender = 'Female' and age = '18 – 30';

drop view if exists q3M;
create view q3M as 
SELECT uid, gender, age, q3a, q3b, q3c
FROM SurveyAnalytics
WHERE gender = 'Female' and age = '18 – 30';

drop view if exists q4M;
create view q4M as 
SELECT uid, gender, age, q4a, q4b, q4c
FROM SurveyAnalytics
WHERE gender = 'Female' and age = '18 – 30';

drop view if exists q5M;
create view q5M as 
SELECT uid, gender, age, q5a, q5b, q5c
FROM SurveyAnalytics
WHERE gender = 'Female' and age = '18 – 30';

drop view if exists q6M;
create view q6M as 
SELECT uid, gender, age, q6a, q6b, q6c
FROM SurveyAnalytics
WHERE gender = 'Female' and age = '18 – 30';

drop view if exists q7M;
create view q7M as 
SELECT uid, gender, age, q7a, q7b, q7c
FROM SurveyAnalytics
WHERE gender = 'Female' and age = '18 – 30';

drop view if exists q8M;
create view q8M as 
SELECT uid, gender, age, q8a, q8b, q8c
FROM SurveyAnalytics
WHERE gender = 'Female' and age = '18 – 30';

 * postgres://isdb@localhost/survey
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

List of trackers from least acceptable by users to most acceptable

In [159]:
%%sql
select count(*) from q1M where q1b = 'Slightly uncomfortable' or q1b = 'Very uncomfortable';

 * postgres://isdb@localhost/survey
1 rows affected.

[(2,)]

In [160]:
%%sql
select count(*) from q2M where q2b = 'Slightly uncomfortable'or q2b = 'Very uncomfortable';

 * postgres://isdb@localhost/survey
1 rows affected.

[(4,)]

In [161]:
%%sql
select count(*) from q3M where q3b = 'Slightly uncomfortable'or q3b = 'Very uncomfortable';

 * postgres://isdb@localhost/survey
1 rows affected.

[(4,)]

In [162]:
%%sql
select count(*) from q4M where q4b = 'Slightly uncomfortable'or q4b = 'Very uncomfortable';

 * postgres://isdb@localhost/survey
1 rows affected.

[(6,)]

In [163]:
%%sql
select count(*) from q5M where q5b = 'Slightly uncomfortable'or q5b = 'Very uncomfortable';

 * postgres://isdb@localhost/survey
1 rows affected.

[(1,)]

In [164]:
%%sql
select count(*) from q6M where q6b = 'Slightly uncomfortable'or q6b = 'Very uncomfortable';

 * postgres://isdb@localhost/survey
1 rows affected.

[(2,)]

In [165]:
%%sql
select count(*) from q7M where q7b = 'Slightly uncomfortable'or q7b = 'Very uncomfortable';

 * postgres://isdb@localhost/survey
1 rows affected.

[(4,)]

In [166]:
%%sql
select count(*) from q8M where q8b = 'Slightly uncomfortable'or q8b = 'Very uncomfortable';

 * postgres://isdb@localhost/survey
1 rows affected.

[(1,)]

In [167]:
%%sql
CREATE OR REPLACE FUNCTION score (t text) RETURNS integer as 
$$
    BEGIN
        RETURN  ((select count(*)  from q1M where (q1c ILIKE t) or q1c = 'All of the above' ) + 
        (select count(*)  from q3M where q3c ILIKE t or q3c = 'All of the above')+
        (select count(*)  from q4M where q4c ILIKE t or q4c = 'All of the above' )+
        (select count(*)  from q5M where q5c ILIKE t or q5c = 'All of the above' )+
        (select count(*)  from q6M where q6c ILIKE t or q6c = 'All of the above' )+
        (select count(*)  from q7M where q7c ILIKE t or q7c = 'All of the above' )+
        (select count(*)  from q8M where q8c ILIKE t or q8c = 'All of the above' ))/(8.0*7) *100;
    END;
$$LANGUAGE plpgsql;

 * postgres://isdb@localhost/survey
Done.

[]

In [168]:
%%sql
SELECT score('%E-Commerce%')
From q3M
limit 1;

 * postgres://isdb@localhost/survey
1 rows affected.

[(32,)]

In [169]:
%%sql
SELECT score('%Banking%')
From q1M
limit 1;

 * postgres://isdb@localhost/survey
1 rows affected.

[(41,)]

In [170]:
%%sql
SELECT score('%govern%')
From q1M
limit 1;

 * postgres://isdb@localhost/survey
1 rows affected.

[(32,)]

In [171]:
%%sql
SELECT score('%Educational Institutions %')
From q1
limit 1;

 * postgres://isdb@localhost/survey
1 rows affected.

[(29,)]

In [172]:
%%sql
SELECT score('%Social Media Platform%')
From q1
limit 1;

 * postgres://isdb@localhost/survey
1 rows affected.

[(43,)]

In [173]:
%%sql
SELECT score('%News%')
From q1
limit 1;

 * postgres://isdb@localhost/survey
1 rows affected.

[(32,)]

In [174]:
%%sql
SELECT score('%Subscription-Based%')
From q1
limit 1;

 * postgres://isdb@localhost/survey
1 rows affected.

[(29,)]

In [175]:
%%sql
SELECT score('%Adult Websites%')
From q1
limit 1;

 * postgres://isdb@localhost/survey
1 rows affected.

[(36,)]

In [176]:
%%sql
SELECT score('%health%')
From q1
limit 1;

 * postgres://isdb@localhost/survey
1 rows affected.

[(34,)]

In [177]:
%%sql
SELECT score('%political%')
From q1
limit 1;

 * postgres://isdb@localhost/survey
1 rows affected.

[(36,)]

In [178]:
%%sql
SELECT score('%other%')
From q1
limit 1;

 * postgres://isdb@localhost/survey
1 rows affected.

[(29,)]

In [85]:
%%sql

CREATE OR REPLACE FUNCTION score (t text) RETURNS integer as 
$$
    BEGIN
        RETURN  ((select count(*)  from q1 where (q1c ILIKE t) or q1c = 'All of the above' ) + 
        (select count(*)  from q3 where q3c ILIKE t or q3c = 'All of the above')+
        (select count(*)  from q4 where q4c ILIKE t or q4c = 'All of the above' )+
        (select count(*)  from q5 where q5c ILIKE t or q5c = 'All of the above' )+
        (select count(*)  from q6 where q6c ILIKE t or q6c = 'All of the above' )+
        (select count(*)  from q7 where q7c ILIKE t or q7c = 'All of the above' )+
        (select count(*)  from q8 where q8c ILIKE t or q8c = 'All of the above' ))/(8.0*11) *100;
    END;
$$LANGUAGE plpgsql;

 * postgres://isdb@localhost/survey
(psycopg2.ProgrammingError) syntax error at or near "%"
LINE 1: %sql
        ^
 [SQL: "%%sql\nCREATE OR REPLACE FUNCTION score (t text) RETURNS integer as \n$$\n    BEGIN\n        RETURN  ((select count(*)  from q1 where (q1c ILIKE t) or q1c = 'All of the above' ) + \n        (select count(*)  from q3 where q3c ILIKE t or q3c = 'All of the above')+\n        (select count(*)  from q4 where q4c ILIKE t or q4c = 'All of the above' )+\n        (select count(*)  from q5 where q5c ILIKE t or q5c = 'All of the above' )+\n        (select count(*)  from q6 where q6c ILIKE t or q6c = 'All of the above' )+\n        (select count(*)  from q7 where q7c ILIKE t or q7c = 'All of the above' )+\n        (select count(*)  from q8 where q8c ILIKE t or q8c = 'All of the above' ))/(8.0*11) *100;\n    END;\n$$LANGUAGE plpgsql;"] (Background on this error at: http://sqlalche.me/e/f405)

In [158]:
%%sql 
select count(*) From q1M;

 * postgres://isdb@localhost/survey
1 rows affected.

[(7,)]